{% extends "base.html" %}

{% block nav_venture %}<li class="active">{% endblock %}

{% block notification %}
{% if town_text %}<p>{{ town_text }}</p>{% endif %}
{% endblock %}

{% block heading %}<h1>The Town</h1><br/>{% endblock %}

{% block content %}

    <p>You are in town.</p>

<h3 style='width: 470px; text-align: center;'><a href="/dungeon/">Enter the Dungeon</a></h3><br/>

<pre class='house'>
<h3 style='text-align: center;'><a href="/town/general/">General Store</a></h3>
                                (   )
                              (    )
                               (    )
                              (    )
                                )  )
                               (  (                  /\
                                (_)                 /  \  /\
                        ________[_]________      /\/    \/  \
               /\      /\        ______    \    /   /\/\  /\/\
              /  \    //_\       \    /\    \  /\/\/    \/    \
       /\    / /\/\  //___\       \__/  \    \/
      /  \  /\/    \//_____\       \ |[]|     \
     /\/\/\/       //_______\       \|__|      \
    /      \      /XXXXXXXXXX\                  \
            \    /_I_II  I__I_\__________________\
                   I_I|  I__I_____[]_|_[]_____I
                   I_II  I__I_____[]_|_[]_____I
                   I II__I  I     XXXXXXX     I
                ~~~~~&quot;   &quot;~~~~~~~~~~~~~~~~~~~~~~~~
</pre>

<pre class='house'>
<h3 style='text-align: center;'><a href="/town/weapons/">Weapons Smith</a></h3>
                  ___/|\_______________/|\___
                 /~^/|||\ ~~ ~~~  ~~ ^/|||\~^\
                /^~/|||||\~~  ^^~  ^~/|||||\~~\
          ()   /~~/|||||||\ ~^~_~^~ /|||||||\~~\
         (()) /~^/| / | \ |\^~/|\~^/| / | \ |\~~\
         ((()/~~/||_)_|_(_||\/|||\/||_)_|_(_||\~~\
         )()/~~ ~~^ ^~^~ ~~ /|||||\ ~~ ~^~^ ^~~ ~~\ ()
         ()()||||||||||||||/|||||||\|||||||||||||| (()
         ()))|||||||||||||/|||||||||\|||||||||||||()()
         (())|| / | | \ |||| |+|+| |||| / | | \ ||()))
         ())(||_)_|_|_(_|||| |+|+| ||||_)_|_|_(_||(())
         (())|||||||||||||||_|+|+|_|||||||||||||||())(
            @@@ @@@ @@@ @@@|-------|@@@ @@@ @@@ @@@
</pre>

<pre class='house'>
<h3 style='text-align: center;'><a href="/town/armory/">Armory</a></h3>
               __                             __
              (())                           (())
             ((()))  __                 __  ((()))
            (((())))(())               (())(((())))
           ((((()))))())) _         _ ((()((((()))))
             |____|((())))()   ,   ()(((()))|____|
             |_[]_| |__|((())__A__((())|__| |_[]_|
            _|    |_|[]|_|_|I-I-I-I|_|_|[]|_|    |_
           |-|    |-|  |-|||-I-I-I-|||-|  |-|    |-|
          (|-|    |-|  |-| |I-I-I-I| |-|  |-|    |-|)
         ((|-| __ |-|  |-| |-I-I-I-| |-|  |-| __ |-|))
         ()|-|_XX_|-|__|T|_|[T]-[T]|_|T|__|-|_XX_|-|()
        ^~^^~^    ^~^  &quot;&quot;&quot;   /   \   &quot;&quot;&quot;  ^~^    ^~^^~^
</pre>

<pre class='house'>
<h3 style='text-align: center;'><a href="/town/magic/">Magic Shop</a></h3>
                                           ,
                                           )
                            .-----------. ((
                            )`&#039;`&#039;`&#039;`&#039;`&#039;`( ||
                           /`&#039;`&#039;`&#039;`&#039;`&#039;`&#039;`\||
                          /`&#039;`&#039;`&#039;`&#039;`&#039;`&#039;`&#039;`\|
                 ,,,,,,, /`&#039;`&#039;`&#039;`&#039;`&#039;`&#039;`&#039;`&#039;`\      ,
                .-------.`|```````````````|`  .   )
               / ,^, ,^, \|  ,^^,   ,^^,  |  / \ ((
              /  |_| |_|  \  |__|   |__|  | /   \||
             /_____________\ |  |   |  |  |/     \|
              |  __   __  |  &#039;==&#039;   &#039;==&#039;  /.......\
              | (  ) (  ) |  //`_```_`\\  |,^, ,^,|
              | |--| |--| |  ||(O)|(O)||  ||_| |_||
              | |__| |__| |  || &quot; | &quot; ||  ||_| |_||
              |           |  ||   |   ||  |       |
              &#039;===========&#039;==&#039;&#039;===&#039;===&#039;&#039;==&#039;=======&#039; 
     </pre>

<pre class='house'>
<h3 style='text-align: center;'><a href="/town/temple/">Temple</a></h3>
                ^       /\             /\   ~!~
                   ^   (())           (())
            ^         /(())\         /(())\      ~!~
                     (((())))       (((())))
                     |^|^^|^|_______|^|^^|^|
                 /\   |^^^^|-_-_-_-_-|^^^^|   /\
                (())  | &quot;&quot; |+_+_+_+_+| &quot;&quot; |  (())
               ((())) |    |[X]_+_[X]|    | ((()))
              (((())))|    |+_+_+_+_+|    |(((())))
              |^|^^|^||____|-_-_-_-_-|____||^|^^|^|
               |^^^^|_-_-_-_-_-_-_-_-_-_-_-_|^^^^|
           ~^~~| &quot;&quot; |_-_-_-_-_-_-_-_-_-_-_-_| &quot;&quot; |~~
           ~~  |    |_+_+_+_+_+_+_+_+_+_+_+_|    | ~^~
            ~^^|    |_+[X]+_[X]_+_[X]_+[X]+_|    |~~^
               |    |_+_+_+_+_+/l\+_+_+_+_+_|    |
               |    |_-_-_-_-_|:::|_-_-_-_-_|    |
               |____|_+_+_+_+_|:::|_+_+_+_+_|____|
           @@@@@@@@@@@@@@@@@@@@&quot;&quot;&quot;@@@@@@@@@@@@@@@@@@@@
</pre>

<pre class='house'>
<h3 style='text-align: center;'><a href="/town/alchemist/">Alchemist</a></h3>
          :              _   _
          :               `v 
          ;       .                  ,~-.
    .  .-   -.  . ,~ )       _ _    (    )~.
     ;        `; (    `-.     V `  ,        )~.  _ _
    /           ;-`      )        (          __)  v `
   |           (_         )~./\    `~ --~ `~  _
   |            (_    __    /##\            ,  )_
    \           /(   _HH_,~/#/\#\          ( c   `._
     `.       .   `~[____]/#/==\#\       ,-  -  (_c )
    .  `-,,,-  `.    |=_|/#/= _=\#\      `&gt;o  ~     -.
          ;      `.  |-=/#/=____=\#\     ( ~ ,~.~.,`- ),
          :        ` |=/#/=/,~~.\=\#\    ,  (\\||,  `- ),
          :          |/#/=(/_)(_\)=\#\  (`~ (_\`|)o ~   )
                     /#/_= |_\/_|  _\#\  &gt;(   `~  ._,~  -.
                    /#/ _=[______]= _\#\(  `~,  c    ~. c)
                   /#/=,---. _ = ___ =\#\`( (  ~ _.    &lt; 
                  /#/ /_____\ ==/,-.\ =\#\(  c   c___ ) )
                  `|=(/_|_|_\) //.-.\\=_|  `-.__,  //`- 
                `v@|==| : : |=(/:|_|:\)=|   `,-\ ` /`,-
              `v@ ~|= |_;_;_| =|     | =|       \ |
      _/\_/\_,(c`@ |=[_______]=|  =()|==|_/\_/\_| |/\_
      -||-||-@~ (_@|= _o@&amp;8o_ =|     | =|-||-||-( |||-
    _,@`v-@ ~ c@._|_[ %8o&amp;8 ]_|_____|__| || || | )||
    @C @,~  @,-v~     &quot;&quot;&quot;&quot;&quot;&quot;&quot;`[_______]         | |
      v-~,@,`    (\-/)        /     / `*~   _.-    `-.
                ={   }=   ~* (     (          `*
         `*       ) (         \     `.~*
                _/   \_     `*~\      `.
          `*    \     /         \       `.`*
                 `-))        `*  \        `.       *
                  ((     `*       \         `.
                   \)
</pre>

<pre class='house'>
<h3 style='text-align: center;'><a href="/town/market/">Black Market</a></h3>
                    UUUUUUUUUUUUUUUUUUUUUUU
                    UUUUUUUUUUUUUUUUUUUUUUU    
                     |_|_|_|_|_|_|_|_|_|_|
             UUUUUUUU_|_|H|_|_|H|_|_|H|_|_UUUUUUUU ()
          () UUUUUUUU|_|_|_|_|_|_|_|_|_|_|UUUUUUUU(())
         ((() |_\I/_UUUUUUUUUUUUUUUUUUUUUUU_\I/_| ()()
         ())( |_|_|_||_\I/_||_\I/_||_\I/_||_|_|_| ))()
         ((())||H|H|||_|_|_||/_o_\||_|_|_|||H|H||((())
         (()))|_|_|_|||H|H|||=xxx=|||H|H|||_|_|_|(()))
         @@@@@@@@@@@||_|_|_||=xxx=||_|_|_||@@@@@@@@@@@
                    @@@@@@@@@|   |@@@@@@@@@
</pre>

<pre class='house'>
<h3 style='text-align: center;'><a href="/town/home/">Home</a></h3>
                   ) )        /\
                  =====      /  \
                 _|___|_____/ __ \____________
                |::::::::::/ |  | \:::::::::::|
                |:::::::::/  ====  \::::::::::|
                |::::::::/__________\:::::::::|
                |_________|  ____  |__________|
                 | ______ | / || \ | _______ |
                 ||  |   || ====== ||   |   ||
                 ||--+---|| |    | ||---+---||
                 ||__|___|| |   o| ||___|___||
                 |========| |____| |=========|
                (^^-^^^^^-|________|-^^^--^^^)
                (,, , ,, ,/________\,,,, ,, ,)
               &#039;,&#039;&#039;,,,,&#039; /__________\,,,&#039;,&#039;,;;
</pre>

{% endblock %}